<div id="spinner" [hidden]="!mostrarSpinner"></div>
<div style="margin-left: 30%; margin-top: 2%;" id="principal">
    
    <button (click)="ComenzarJuego()" style="width: 510px;" [disabled]="mazo.empezoElJuego">Comenzar Juego</button>
    
    <br><br><br>
    <img [src]='carta1.img'>
    <img [src]='carta2.img' style="margin-left: 60px;">
    <br><br>
    <div *ngIf="mazo.empezoElJuego">
        <button (click)="Aplicar(1)" style="width: 170px;" [disabled]="deshabilitar || carta1.numero == 'K'">Mayor (+1)</button>
        <button (click)="Aplicar(2)" style="width: 170px;" [disabled]="deshabilitar">Igual (+10)</button>
        <button (click)="Aplicar(3)" style="width: 170px;" [disabled]="deshabilitar || carta1.numero == 'A'">Menor (+1)</button>
        <br><br><br><br>
        <h1>Manos: {{manos}}/5</h1>
        <h1>Tus Puntos: {{puntos}}</h1>
    </div><br><br>
    <button *ngIf="reiniciar" (click)="Guardar(false)" style="width: 510px;">Reiniciar</button><br><br>
    <button *ngIf="reiniciar" (click)="Guardar(true)" style="width: 510px;">Guardar y Salir</button>
</div> 