<img id="fondo" src="../../assets//fondo3.PNG" alt="">
<div id="principal">
    <br><br><br>
    <h1 style="margin-left: 31%;">Lucas Marino</h1><br>
    <button id="mifoto"></button><br><br><br><br><br>
    <h1 style="margin-left: 2%;">Juego Propio - Poker Texas Hold'em </h1>
    <h5 style="margin-left: 2%;">
        En esta simulacion se mostraran las cartas de ambos jugadores asi como 4 de las 5 de la mesa.<br>Para ganar el juego, debemos seleccionar que carta nos haria ganar el bote, de entre 4 opciones!</h5>
    </div>
        