<div id="VntPrincipal">
    <br><br><br>
    <h1 style="margin-left: 31%;">Lucas Marino</h1><br>
    <button id="mifoto"></button><br><br><br><br><br>
    <h1 style="margin-left: 2%;">Juego Propio - Poker Texas Hold'em </h1>
    <h5 style="margin-left: 2%;">El juego consiste en adivinar que carta nos haria ganar el bote.<br>
        Se repartiran 2 cartas a cada jugador y 5 cartas comunitarias.<br>
        En esta simulacion, se podrán ver las cartas del villano y 4 de las 5 cartas comunitarias. Para ganar el juego, es imprecindible conocer el valor de todas las jugadas</h5>
        <br><br><br><br><br><br><br><br><br><br>
</div>