<img id="fondo" src="../../assets//fondo1.PNG" alt="">
<div style="background-color: lightgrey; z-index: 0;">

    <div style="margin-left: 40%;" id="principal">
        <label>Mail</label><br>
        <input type="text" id="mail" placeholder="Ingrese su mail" style="border: 1px solid grey; width: 350px;"><br><br>
        <label>Contraseña</label><br>
        <input type="password" id="pw" placeholder="Ingrese su contraseña" style="border: 1px solid grey; width: 350px;"><br><br><br>

        <button (click)="Loguearse()" id="btnLog">Loguearse</button><br><br>
        <button (click)="IrARegistro()" id="btnReg">Registrarse</button><br><br>
        <button (click)="Limpiar()"  id="btnLimp">Limpiar</button><br>
        <br><br><br><br>
        <h1>Acceso Rápido</h1><br>
        <button (click)="Administrador()" id="btnAcceso">Administrador</button><br><br>
        <button (click)="Tester()" id="btnAcceso">Tester</button><br><br>
        <button (click)="Lucas()" id="btnAcceso">Lucas</button><br><br>
        <button (click)="UnBebe()" id="btnAcceso">Un Bebe</button><br><br>
    </div>
</div>