<div style="background-color: lightgrey;">

    <div style="margin-left: 40%;" >
        <label>Mail:</label><br>
        <input type="text" id="mail" placeholder="Ingrese su mail"><br><br>
        <label>Contraseña:</label><br>
        <input type="password" id="pw" placeholder="Ingrese su contraseña"><br><br>

        <button (click)="Loguearse()">Loguearse</button>
        <button style="margin-left: 2%;" (click)="Limpiar()">Limpiar</button><br><br>
        <button (click)="IrARegistro()">Registrarse</button>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>