#fondo{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: fixed;
    opacity: 0.7;
}

#ahorcado{
    background-image: url("./../../assets/ahorcado.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 420px;
    margin-left: 2%;
    z-index: 3;
    opacity: 0.9;
}

#mayormenor{
    background-image: url("./../../assets/mayormenor.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 500px;
    height: 420px;
    margin-left: 2%;
    z-index: 3;
    opacity: 0.9;
}

#preguntados{
    background-image: url("./../../assets/preguntados.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 500px;
    height: 420px;
    margin-left: 2%;
    z-index: 3;
    opacity: 0.9;
}

#poker{
    background-image: url("./../../assets/poker.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 500px;
    height: 420px;
    margin-left: 2%;
    z-index: 3;
    opacity: 0.9;
    margin-right: 2%;
}

h1{
    font-size: 84px;
    font-family: serif;
    font-style: oblique;
    font-weight: bold;
    color: black;
    z-index: 3;
    position: sticky;
}