
<img id="fondo" src="../../assets//fondo3.PNG" alt="">
<div>

    <h1 style="margin-left: 2%;">ELIJA UN JUEGO</h1><br>
    <div class ="d-flex flex-row justify-content-between">
        <button id="ahorcado" (click)="AbrirAhorcado()"></button>
        <button id="mayormenor" (click)="AbrirMayorMenor()"></button>
        <button id="preguntados" (click)="AbrirPreguntados()"></button>
        <button id="poker" (click)="AbrirPoker()"></button>
    </div><br><br><br><br>
        <button (click)="IrARanking()" id="ranking">RANKING DE TODOS LOS JUEGOS</button>

    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

