<div style="background-color: lightgrey;">

    <div style="margin-left: 40%;" >
        <label>Mail:</label><br>
        <input type="text" id="mail" placeholder="Ingrese su mail" style="border: 1px solid grey;"><br><br>
        <label>Contraseña:</label><br>
        <input type="password" id="pw" placeholder="Ingrese su contraseña" style="border: 1px solid grey;"><br><br>
        <label>Alias:</label><br>
        <input type="text" id="alias" placeholder="Ingrese su alias" style="border: 1px solid grey;"><br><br>

        <button (click)="Registrarse()">Registrarse</button>
        <button style="margin-left: 2%;" (click)="Limpiar()">Limpiar</button><br><br>
        <button (click)="IrALogin()">Volver</button>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>