<div id="spinner" [hidden]="!mostrarSpinner"></div>
<img id="fondo" src="../../assets//fondo1.PNG" alt="">
<button *ngIf="mostrarError" id="error">{{error}}</button>
<div>

    <div style="margin-left: 40%;" id="principal">
        <label>Mail:</label><br>
        <input type="text" id="mail" placeholder="Ingrese su mail" style="border: 1px solid grey; width: 350px;"><br><br>
        <label>Contraseña:</label><br>
        <input type="password" id="pw" placeholder="Ingrese su contraseña" style="border: 1px solid grey; width: 350px;"><br><br>
        <label>Alias:</label><br>
        <input type="text" id="alias" placeholder="Ingrese su alias" style="border: 1px solid grey; width: 350px;"><br><br>
        <br><br><br>
        <button (click)="Registrarse()" id="btnReg">Registrarse</button><br><br>
        <button (click)="Limpiar()" id="btnLog">Limpiar</button><br><br>
        <button (click)="IrALogin()" id="btnLimp">Volver</button>
    </div>
</div>